<mat-toolbar color="primary" class="mat-elevation-z5">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>

    <!-- HOME BUTTON IN DESKTOP -->
    <button class="home-button" mat-button routerLink="/home" fxHide.xs>
<!--      <img routerLink="/home" src="/assets/images/dragon-logo-white.png"/>-->
      {{this.title}}
    </button>
    <!-- HOME BUTTON IN MOBILE -->
    <button class="home-button mobile-button" mat-button routerLink="/home" fxHide.gt-xs>
      {{this.title}}
<!--      <img routerLink="/home" src="/assets/images/dragon-logo-white.png"/>-->
    </button>

  </div>

  <!-- NAVIGATION BUTTONS (ONLY VISIBLE ON DESKTOP) -->
  <div fxLayout fxFlex fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <button *ngFor="let menuItem of menuItems" mat-button [routerLink]="menuItem.route">{{menuItem.title}}</button>
      </li>
      <mat-divider [vertical]="true"></mat-divider>
      <li>
<!--        -->
<!--        <button mat-button *ngIf="!(currentUser)" routerLink="/sign-in" [matTooltip]="'Sign In'"><fa-icon class="log-icon" [icon]="['fas', 'sign-in-alt']"></fa-icon></button>-->
<!--        <button mat-button *ngIf="(currentUser)" (click)="logout()" [matTooltip]="'Sign Out'">{{currentUser.username}}<fa-icon id="out-icon" class="log-icon" [icon]="['fas', 'sign-out-alt']"></fa-icon></button>-->
<!--      -->
      </li>
    </ul>
  </div>
</mat-toolbar>
