.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  outline: none;
  margin-right: 0.8rem;
  width: 40px;
}

.mobile-button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.mobile-button img {
  margin-right: 0;
  margin-left: 0.8rem;
}

.home-button {
  font-size: 20px;
}

.log-icon {
  font-size: 25px;
}

#out-icon {
  margin-left: 7px;
}
