<div class="search-box">
  <form class="search-form">
    <mat-form-field class="search-field" appearance="standard">
        <mat-label>search</mat-label>
        <input matInput placeholder="">
      <mat-icon matPrefix aria-hidden="false" aria-label="Example home icon">
        search
      </mat-icon>
    </mat-form-field>
    <button mat-button style="font-size: 24px">
      Go
    </button>
  </form>
</div>
