.search-field{
  text-align: center;
  position: center;
  width: 500px;
}

.search-form{
  min-width: 1950px;
  max-width: 500px;
  width: 100%;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.search-box{
  background-color: rgba(0, 0, 0, 0);
  padding-top: 0.5em;
  margin-bottom: 3em;
  color: white;
  font-size: 46px;
  align-content: center;
  width: 50%;
  justify-content: center;
  position: relative;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: whitesmoke !important;
}

::ng-deep .mat-form-field-placeholder{
  color:whitesmoke !important;
}

::ng-deep .mat-focused .mat-form-field-placeholder{
  color:whitesmoke !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: whitesmoke !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: whitesmoke !important;;
}

.button-search{
  text-align: right;
  justify-content: right;
  font-size: xx-large;
  border-bottom: black;
  background-color: rgba(255, 255, 255, 0.50);
}

