.result-txt{
  background-color: transparent;
  margin: 1em;
  text-align: justify;
  color: black;
  font-size:20px;
  h1{
    text-align: left;
    font-size: 30px;
    margin: auto;
    margin-bottom: 1em;
  }
}

.img-preview{
  background-color:transparent;
  margin: 1em;
}

.border-blue{
  border-top: blue solid 6px;
}

.border-red{
  border-top: red solid 6px;
}

.border-green{
  border-top: limegreen solid 6px;
}

.border-yellow{
  border-top: yellow solid 6px;
}

.border-gray{
  border-top: gray solid 6px;
}
