.item-txt{
  background-color: transparent;
  margin: 1cm;
  text-align: justify;
  color: black;
  font-size:20px;
  h1{
    text-align: left;
    font-size: 30px;
    margin: auto;
    margin-bottom: 1em;
  }
}

.img-preview{
  background-color:transparent;
  margin: 2cm;

}
