
<div fxFlex="100%" fxLayout="row" fxLayoutAlign="none" >

  <div class="item-txt" fxLayout="column" fxLayoutAlign="none" fxFlex="50" fxLayoutGap="25px" >
    <h1>{{this.title}}</h1>
    {{this.text}}
  </div>

  <div class="img-preview" fxLayout="column"  fxLayoutAlign="none" fxLayoutGap="25px" fxFlex="auto" >
    <img class="card-item" width="250px" src="{{image}}" alt=""/>
  </div>

</div>
