<div class="img-background" >

  <app-search-box></app-search-box>

  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center" >
    <app-info-box fxFlex="0 1 auto" [icon]="'book'" title="Libros" [text]="textOne"></app-info-box>
    <app-info-box fxFlex="0 1 auto" [icon]="'bookmark'" title="Ensenanzas" [text]="textTwo"></app-info-box>
    <app-info-box fxFlex="0 1 auto" [icon]="'file_copy'" title="Revistas" [text]="textThree"></app-info-box>
    <app-info-box fxFlex="0 1 auto" [icon]="'movie_filter'" title="Videos" [text]="textFour"></app-info-box>

  </div>

</div>

