 <app-search></app-search>

 <app-result-item title="Libro" url="#" [text]="textOne" [borderColor]="'border-green'" [image]="'assets/img/card1.jpg'"></app-result-item>
 <app-result-item title="Video" url="#" [text]="textOne" [borderColor]="'border-blue'" [image]="'assets/img/card2.jpg'"></app-result-item>
 <app-result-item title="Revista" url="#" [text]="textOne" [borderColor]="'border-yellow'" [image]="'assets/img/card1.jpg'"></app-result-item>
 <app-result-item title="CAFH" url="#" [text]="textOne" [borderColor]="'border-gray'" [image]="'assets/img/card2.jpg'"></app-result-item>
 <app-result-item title="Ensenanza" url="#" [text]="textOne" [borderColor]="'border-red'" [image]="'assets/img/card1.jpg'"></app-result-item>

