<div class="login-container">
  <mat-card class="card-login">
    <img mat-card-image src="../../../../../assets/img/logo.jpg">

    <mat-card-header class="login-header">
      <mat-card-title class="tittle-card" >Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form-login">

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <textarea matInput placeholder="Password"></textarea>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button>Ingresar</button>
    </mat-card-actions>

  </mat-card>
</div>
