.card-login {
  max-width: 400px;
}

.form-login {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.mat-stroked-button{
  background-color: aliceblue;
}

.tittle-card{
  font-size: 32px;;
}

.login-header{
  text-align: center;
  justify-content: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.30);
  min-height: 400px;
  width: 400px;
  padding: 1em;
  justify-content: center;
  text-align: center;
  padding-top: 2em;
  margin-top: 6em;
  margin-bottom: 3cm;
}

.mat-card{
  background: #b0b0b082;
}
