<div class="info-box-container">
  <mat-icon class="info-box-icon">{{this.icon}}</mat-icon>
  <div class="info-box-txt">
    <h1>{{this.title}}</h1>
    <p>{{this.text}}</p>
  </div>
  <div class="button-icon">
    <button mat-stroked-button>Ver mas</button>
  </div>
</div>

