.info-box-container {
  background-color: rgba(255, 255, 255, 0.30);
  min-height: 400px;
  width: 400px;
  padding: 1em;
  justify-content: center;
  text-align: center;
  padding-top: 2em;
}

.info-box-icon{
  font-size: 150px;
  color: black;
  width: 100%;
}

.info-box-txt{
  text-align: justify;
  h1{
    text-align: center;
  }
}

.button-icon{
  text-align: right;
  justify-content: right;
}
