/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-background {
  background-image: url("assets/img/Background.jpg");
  //width: 100%;
  //height: 82.8vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  //background-blend-mode: luminosity;
}
